<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>

    <h1><%= title %></h1>

    <table width="500px" border="1">

        <% items.forEach(item => { %>

            <tr>
                <td><%= item.name %></td>
                <td><%= item.age %></td>
                <td><%= item.city %></td>
            </tr>

        <% }) %>

    </table>
<!--
<%  if(message) { %>
    <p><%= message %></p>
<% }  else { %>
    <span>there is no message</span>
<% } %>
-->

</body>
</html>